{% extends 'base.html' %}
{% block body %}
    <div class="welcome">
        <h5> About </h5>
        <p class="para">Tibbles is a timetable management system that takes into account the preferences of teachers
            when generating class schedules. It allows teachers to input their preferred subjects and time slots,
            and then uses that information to generate a timetable that is tailored to their needs. This ensures
            that teachers are assigned to classes and times that they are comfortable with, resulting in a more
            efficient and effective schedule for everyone.</p>
    </div>
{% endblock body %}
