*.css linguist-detectable=false
*.js linguist-detectable=true
*.java linguist-detectable=false
*.html linguist-detectable=false
*.py    linguist-detectable=true

# Django static files
static/    linguist-ignored
media/     linguist-ignored
